.container {
  background-color: white;
  border-radius: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  // position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: black;
  text-align: center;
  transition: 0.3s;

  &:hover {
    background-color: #6C6CE5;

    .img-wrapper {
      opacity: 0.15;
      transition: 0.3s;
    }
  }

}

.container:before {
  content: "";
  display: block;
  padding-top: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.img-wrapper {
  height: auto;
  width: 100%;
  padding: 24px;
}
