.container {
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1080px;
}

.reviews-container {
  position: relative;
  max-width: 700px;
  margin: auto;
  margin-bottom: 300px;
}

.reviews-container div{
  will-change: transform, opacity;
}
