.img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.img-container img {
  border-radius: 50%;
}

.centered {
  text-align: center;
}

.title {
  margin-bottom: 0;
}
