.container {
  padding: 30px;
}

.button-container {
  margin-top: 1rem;
  text-align: center;
}

.button {
  border-radius: 30px;
  padding: 12px 32px;
  font-size: 16px;
  height: auto;
  font-weight: bold;
}

.about-me {
  padding: 10px;
}
