.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 40px 0;

}

.sidebar {
  overflow: 'auto';
  height: '100vh';
  position: 'fixed';
  left: 0;
  border-right: solid 1px rgba(255, 255, 255, 0.1);
}

.menu-item {
  display: flex;
  justify-content: center;
  align-content: center;
}

.menu-item li {
  height: 40px;
}

.rotate {
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
}
