.container {
  margin: auto;
  height: 100%;
  text-align: center;
  @media screen and (max-width: 768px) {
    margin-bottom: 50px;
  }
}

.img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.img-container img {
  border-radius: 50%;
}
