.about-me-container {
  background-color: #302f4e;
  ::before {

  }
}

.container {
  padding-top: 100px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
